<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506177634076-eohct2090nki668f1pegsgi64qrf2ngv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506177634076-eohct2090nki668f1pegsgi64qrf2ngv</string>
	<key>API_KEY</key>
	<string>AIzaSyCpgi6ucnpX7Qln5dmPOuHZtrw-i-7V964</string>
	<key>GCM_SENDER_ID</key>
	<string>506177634076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication9</string>
	<key>PROJECT_ID</key>
	<string>authentication-9fb95</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-9fb95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506177634076:ios:1349aab0c378bd0365c4d9</string>
</dict>
</plist>